machine="go-tutorial"
status=`docker-machine status ${machine}`

if [ "${status}" = "Running" ]; then
	echo "docker machine ${machine}: ${status}" 
	eval $(docker-machine env $machine)
	echo "IP: `docker-machine ip ${machine}`" 

elif [ "${status}" = "Stopped" ]; then
	echo "docker machine ${machine}: ${status}" 
	echo "Make it running..." 
	docker-machine start $machine 
	eval $(docker-machine env $machine)
	echo "IP: `docker-machine ip ${machine}`" 
else
	echo "docker machine ${machine}: ${status}" 
	echo "Please make sure the machine '${machine}' is exist." 
fi


